---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Miguel Magueijo">
    <main>
        <div class="text-center">
            <h1 class="text-9xl font-bold text-gradient dark:text-dark-gradient w-full text-center">
                404
            </h1>
            <h2 class="text-2xl font-semibold mb-10">You seem lost...<br>Let me take you home back home.</h2>
            <a class="inline-block m-auto bg-gradient dark:bg-dark-gradient rounded px-4 py-2 text-2xl font-bold text-white dark:text-black" href="/">
                Home
            </a>
        </div>
    </main>
</Layout>

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 68vh;   
    }
</style>