---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Miguel Magueijo">
    <section class="flex items-center justify-center h-[68vh]">
        <div class="text-center">
            <h1 class="text-9xl font-bold text-priry w-full text-center">
                404
            </h1>
            <h2 class="text-2xl font-semibold mb-10">You seem lost...<br>Let me take you back home.</h2>
            <a class="inline-block m-auto bg-priry hover:bg-xetx duration-300 text-baund rounded py-1 px-[25px] text-lg font-bold" href="/">
                Home
            </a>
        </div>
    </section>
</Layout>