---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Miguel Magueijo">
    <section class="tw-flex tw-items-center tw-justify-center tw-h-[68vh]">
        <div class="tw-text-center">
            <h1 class="tw-text-9xl tw-font-bold tw-text-gradient dark:tw-text-dark-gradient tw-w-full tw-text-center">
                404
            </h1>
            <h2 class="tw-text-2xl tw-font-semibold tw-mb-10">You seem lost...<br>Let me take you back home.</h2>
            <a class="tw-inline-block tw-m-auto tw-bg-gradient dark:tw-bg-dark-gradient tw-rounded tw-px-4 tw-py-2 tw-text-2xl tw-font-bold tw-text-white dark:tw-text-black" href="/">
                Home
            </a>
        </div>
    </section>
</Layout>