---
import { TabsIDs } from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ForgedIn.Space - Coming soon!" activeTabID={ TabsIDs.fis }>
    <section class="flex items-center justify-center h-[68vh]">
        <div class="text-center">
            <h1 class="text-7xl font-bold text-gradient dark:text-dark-gradient w-full text-center">
                Nothing here yet!
            </h1>
            <h2 class="text-2xl font-semibold mb-10">But I've the feeling something is coming...</h2>
        </div>
    </section>
</Layout>