---
import { TabsIDs } from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ForgedIn.Space - Coming soon!" activeTabID={ TabsIDs.Fis }>
    <section class="flex items-center justify-center h-[68vh]">
        <div class="text-center">
            <h1 class="text-5xl sm:text-6xl md:text-7xl font-bold text-priry w-full text-center duration-300">
                Nothing here yet!
            </h1>
            <h2 class="text-xl md:text-2xl font-semibold mt-10 duration-300">But I've the feeling something is coming...</h2>
        </div>
    </section>
</Layout>