---
import { TabsIDs } from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ForgedIn.Space - Coming soon!" activeTabID={ TabsIDs.fis }>
    <section class="tw-flex tw-items-center tw-justify-center tw-h-[68vh]">
        <div class="tw-text-center">
            <h1 class="tw-text-7xl tw-font-bold text-gradient dark:text-dark-gradient tw-w-full tw-text-center">
                Nothing here yet!
            </h1>
            <h2 class="tw-text-2xl tw-font-semibold tw-mb-10">But I've the feeling something is coming...</h2>
        </div>
    </section>
</Layout>