---
	import { TabsIDs } from "../components/Navbar/";
	import Layout from "../layouts/Layout.astro";
	import { Icons } from "../svgs/";

	interface ContactLink {
        href: string,
        text: string,
        title: string,
        icon: typeof Icons[keyof typeof Icons]
    }

    const contactsLinks: Array<ContactLink> = [
        {
            href: "https://www.linkedin.com/in/miguel-magueijo/",
            text: "in/miguelmagueijo",
            title: "LinkedIn - Miguel Magueijo",
            icon: Icons.LinkedIn,
        },
        {
            href: "https://www.facebook.com/profile.php?id=100077211735856",
            text: "Miguel Magueijo",
            title: "Facebook - Miguel Magueijo",
            icon: Icons.Facebook,
        },
        {
            href: "https://github.com/miguelmagueijo",
            text: "/miguelmagueijo",
            title: "Github - Miguel Magueijo",
            icon: Icons.Github,
        },
    ];
---

<Layout title="Home | Miguel Magueijo" activeTabID={ TabsIDs.home }>
	<section class="tw-my-5">
		<div class="md:tw-grid md:tw-grid-cols-2 md:tw-items-center">
			<img src="/me.png" class="tw-rounded-full img bg-gradient dark:bg-dark-gradient tw-p-0.5 md:tw-width-full">
			<div>
				<h1 class="tw-mt-2 tw-text-2xl tw-font-bold tw-text-left tw-text-primary dark:tw-text-darkPrimary sm:tw-text-center md:tw-text-5xl">Miguel Magueijo</h1>
				<h2 class="tw-text-xl tw-text-right tw-text-secondary dark:tw-text-darkSecondary sm:tw-text-center md:tw-text-4xl">Student & Developer</h2>
			</div>
		</div>
		<div class="tw-mt-8">
			<p class="tw-text-lg md:tw-text-xl">
				Hi 👋<br>I'm <b>Miguel Magueijo</b>, Portuguese 🇵🇹 and I'm 21 years old.
			</p>
			<p class="tw-mt-4 md:tw-text-lg">
				At the moment, I am a student at IPCB (Instituto Politécnico de Castelo Branco) and I study Computer Science and Multimedia (Informática e Multimédia).
			</p>
			<p class="tw-mt-1 md:tw-text-lg">
				One of my favorite hobbies is programming, and sometimes I challenge myself to try to develop my own versions of apps with improvements that I think are needed or develop simple apps that come to my mind in random moments.
			</p>
			<p class="tw-mt-1 md:tw-text-lg">
				I also love videogames and fantasy worlds, being immersed in games and stories is one of the best things ever!
			</p>
			<hr class="tw-my-4 tw-border-2 tw-rounded tw-opacity-90 dark:tw-opacity-10">
			<p class="md:tw-text-lg">
				This website shows a little about me, my education path, work experience and enumerates all projects I developed or helped in.<br>
				Want to work together or ask me something? <a class="tw-underline" href="#contact-area">Send me a message!</a>
			</p>
			<p class="tw-text-xs tw-mt-2 tw-opacity-40">
				This website is still being worked on! Updates are coming.
			</p>
		</div>
	</section>

	<section class="tw-my-10">
		<div class="tw-flex tw-space-x-2 tw-items-center">
			<Icons.User class="tw-stroke-primary dark:tw-stroke-darkPrimary tw-w-[25px] tw-h-[25px] md:tw-w-[35px] md:tw-h-[35px]" />
			<h2 class="tw-text-xl tw-font-bold text-gradient dark:text-dark-gradient md:tw-text-2xl">Education</h2>
		</div>
		<hr class="line-gradient dark:line-dark-gradient tw-mb-4">
		<ul class="tw-space-y-4 sm:tw-space-y-0 sm:tw-grid sm:tw-grid-cols-2 sm:tw-gap-4">
			<li class="tw-grid tw-grid-cols-5 tw-gap-4">
				<img class="logo-image support-dark" src="https://www.ipcb.pt/sites/default/files/ipcb_estcb.svg" alt="IPCB Escola Superior de Tecnologias Logo" title="IPCB Escola Superior de Tecnologias">
				<div class="tw-text-sm tw-col-span-4">
					<p class="tw-font-bold tw-text-lg md:tw-text-xl">Informatics and Multimedia</p>
					<p class="tw-font-semibold">Instituto Politécnico de Castelo Branco</p>
					<p>Bachelor</p>
					<p>Sep 2021 - </p>
				</div>
			</li>
			<li class="tw-grid tw-grid-cols-5 tw-gap-4">
				<img class="logo-image support-dark" src="https://www.ipcb.pt/sites/default/files/ipcb_estcb.svg" alt="IPCB Escola Superior de Tecnologias Logo" title="IPCB Escola Superior de Tecnologias">
				<div class="tw-text-sm tw-col-span-4">
					<p class="tw-font-bold tw-text-lg md:tw-text-xl">Technologies and Information Systems Programming</p>
					<p class="tw-font-semibold">Instituto Politécnico de Castelo Branco</p>
					<p>Higher Professional Technical Course</p>
					<p>Sep 2019 - Jul 2021</p>
				</div>
			</li>
			<li class="tw-grid tw-grid-cols-5 tw-gap-4">
				<img class="logo-image support-dark" src="/3rdParty/AEF.png" alt="Agrupamento de Escolas do Fundão Logo" title="Agrupamento de Escolas do Fundão">
				<div class="tw-text-sm tw-col-span-4">
					<p class="tw-font-bold tw-text-lg md:tw-text-xl">Management and Programming of Information Systems</p>
					<p class="tw-font-semibold">Agrupamento de Escolas do Fundão</p>
					<p>Professional Course</p>
					<p>Sep 2016 - Jul 2019</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="tw-my-10">
		<div class="tw-flex tw-space-x-2 tw-items-center">
			<Icons.Suitcase class="tw-stroke-primary dark:tw-stroke-darkPrimary tw-w-[25px] tw-h-[25px] md:tw-w-[35px] md:tw-h-[35px]" />
			<h2 class="tw-text-xl tw-font-bold text-gradient dark:text-dark-gradient md:tw-text-2xl">Work experience</h2>
		</div>
		<hr class="line-gradient dark:line-dark-gradient tw-mb-4">
		<ul class="tw-space-y-4 sm:tw-space-y-0 sm:tw-grid sm:tw-grid-cols-2 sm:tw-gap-4">
			<li class="tw-grid tw-grid-cols-5 tw-gap-4">
				<img class="logo-image" src="https://www.engineetech365.com/wp-content/uploads/2020/03/capgemini-logo-1024x1024.jpg" alt="Capgemini Engineering Logo" title="Capgemini Engineering">
				<div class="tw-text-sm tw-col-span-4">
					<p class="tw-font-bold tw-text-lg md:tw-text-xl">Full-stack Web Developer</p>
					<p class="tw-font-semibold">Capgemini Engineering</p>
					<p>Curricular internship</p>
					<p>Mar 2021 - Jul 2021</p>
				</div>
			</li>
			<li class="tw-grid tw-grid-cols-5 tw-gap-4">
				<img class="logo-image support-dark" src="/3rdParty/CommunitiesComunicacoes.png" alt="Communities - Comunicações, Lda Logo" title="Communities - Comunicações, Lda">
				<div class="tw-text-sm tw-col-span-4">
					<p class="tw-font-bold tw-text-lg md:tw-text-xl">Full-stack Web Developer</p>
					<p class="tw-font-semibold">Communities - Comunicações, Lda</p>
					<p>Curricular internship</p>
					<p>May 2018 - Jun 2018</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="tw-my-10">
		<div class="tw-flex tw-space-x-2 tw-items-center">
			<Icons.Box class="tw-stroke-primary dark:tw-stroke-darkPrimary tw-w-[25px] tw-h-[25px] md:tw-w-[35px] md:tw-h-[35px]" />
			<h2 class="tw-text-xl tw-font-bold text-gradient dark:text-dark-gradient md:tw-text-2xl">Projects</h2>
		</div>
		<hr class="line-gradient dark:line-dark-gradient tw-mb-4">
		<ul class="tw-space-y-4 sm:tw-space-y-0 sm:tw-grid sm:tw-grid-cols-2 sm:tw-gap-4">
			<li class="tw-grid tw-grid-cols-5 tw-gap-4">
				<img class="logo-image support-dark" src="/Projects/reallearn.svg" alt="Real Learn Logo" title="Real Learn">
				<div class="tw-text-sm tw-col-span-4">
					<div class="tw-flex tw-space-x-2 tw-items-center">
						<span class="tw-font-bold tw-text-lg md:tw-text-xl">Real Learn</span>
						<a href="https://github.com/miguelmagueijo/Real-Learn" target="_blank" rel="noopener noreferrer">
							<Icons.Github width="20px" class="tw-fill-black dark:tw-fill-white" />
						</a>
					</div>
					<p class="tw-font-semibold">Group school project inspired by moodle</p>
					<p>2021</p>
				</div>
			</li>
			<li class="tw-grid tw-grid-cols-5 tw-gap-4">
				<img class="logo-image support-dark" src="/Projects/popcornlist.png" alt="PopCornList Logo" title="PopCornList">
				<div class="tw-text-sm tw-col-span-4">
					<div class="tw-flex tw-space-x-2 tw-items-center">
						<span class="tw-font-bold tw-text-lg md:tw-text-xl">PopCornList</span>
						<a href="https://github.com/miguelmagueijo/DW-PopCornList" target="_blank" rel="noopener noreferrer">
							<Icons.Github width="20px" class="tw-fill-black dark:tw-fill-white" />
						</a>
					</div>
					<p class="tw-font-semibold">School project to track your movies and TV shows status</p>
					<p>2020</p>
				</div>
			</li>
			<li class="tw-grid tw-grid-cols-5 tw-gap-4">
				<img class="logo-image support-dark" src="/Projects/projectmanager.png" alt="Project Manager Logo" title="Project Manager">
				<div class="tw-text-sm tw-col-span-4">
					<div class="tw-flex tw-space-x-2 tw-items-center">
						<span class="tw-font-bold tw-text-lg md:tw-text-xl">Project Manager</span>
						<a href="https://github.com/miguelmagueijo/ProjectManager" target="_blank" rel="noopener noreferrer">
							<Icons.Github width="20px" class="tw-fill-black dark:tw-fill-white" />
						</a>
					</div>
					<p class="tw-font-semibold">Final professional course project to manage projects</p>
					<p>2019</p>
				</div>
			</li>
		</ul>
	</section>

	<section class="tw-my-10">
		<div class="tw-flex tw-space-x-2 tw-items-center">
			<Icons.CodeDesktop class="tw-stroke-primary dark:tw-stroke-darkPrimary tw-w-[25px] tw-h-[25px] md:tw-w-[35px] md:tw-h-[35px]" />
			<h2 class="tw-text-xl tw-font-bold text-gradient dark:text-dark-gradient md:tw-text-2xl">Technologies</h2>
		</div>
		<hr class="line-gradient dark:line-dark-gradient tw-mb-4">
		<div class="tw-grid tw-grid-cols-6 tw-gap-4 tw-items-center programming-languages-imgs sm:tw-grid-cols-12">
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Java logo" title="Java" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python logo" title="Python" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" alt="Javascript logo" title="Javascript" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" alt="Typescript logo" title="Typescript" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-plain.svg" alt="PHP logo" title="PHP" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" alt="HTML5 logo" title="HTML5" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" alt="CSS logo" title="CSS" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-plain.svg" alt="MySQL logo" title="MySQL" />
			<img class="tw-bg-white" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain.svg" alt="Microsoft SQL Server logo" title="Microsoft SQL Server" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/oracle/oracle-original.svg" alt="Oracle logo" title="Oracle Database" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Git Logo" title="Git" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="NodeJs logo" title="NodeJs" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" alt="TailwindCSS logo" title="TailwindCSS" />
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="Visual Studio Code logo" title="Visual Studio Code" />
		</div>
	</section>

	<section class="tw-my-10 tw-p-1 bg-gradient dark:bg-dark-gradient tw-rounded">
		<details class="tw-bg-white dark:tw-bg-black tw-rounded">
			<summary class="tw-p-2 tw-flex tw-justify-between tw-items-center">
				<span class="tw-inline-block tw-text-xl tw-font-bold text-gradient dark:text-dark-gradient md:tw-text-2xl">Others</span>
				<Icons.ArrowDown class="otherArrow tw-stroke-secondary dark:tw-stroke-darkSecondary tw-w-[25px] tw-h-[25px] md:tw-w-[35px] md:tw-h-[35px]" strokeWidth={ 3 } />
			</summary>
			<div class="tw-p-2 tw-rounded-b">
				<h3 class="tw-font-bold tw-text-lg md:tw-text-xl">Areas of interest</h3>
				<ul class="tw-list-disc tw-list-inside">
					<li>Gaming & Game Development</li>
					<li>Fantasy Stories and Worlds</li>
					<li>Artificial Intelligence</li>
					<li>Databases</li>
				</ul>
				<h3 class="tw-mt-5 tw-font-bold tw-text-lg md:tw-text-xl">Technologies I've been using/trying</h3>
				<ul class="tw-list-disc tw-list-inside">
					<li>Astro JS</li>
					<li>Svelte</li>
					<li>React</li>
					<li>Docker</li>
					<small>Fun fact: this website is made with Astro & Tailwind</small>
				</ul>
				<h3 class="tw-mt-5 tw-font-bold tw-text-lg md:tw-text-xl">I want to learn</h3>
				<ul class="tw-list-disc tw-list-inside">
					<li>Game Development (Godot/Unreal)</li>
					<li>C++</li>
					<li>Data Analysis</li>
					<li>Artificial Intelligence</li>
				</ul>
			</div>
		</details>
	</section>

	<hr class="tw-my-8 md:tw-my-12 tw-rounded tw-border-2 tw-opacity-90 dark:tw-opacity-10">

	<section id="contact-area" class="tw-mb-10 tw-space-y-4 focus:tw-border-2 focus:tw-border-black">
        <div>
            <h1 class="tw-text-4xl md:tw-text-5xl tw-font-bold tw-text-primary dark:tw-text-darkPrimary">
                Let's talk!
            </h1>
            <p class="tw-text-lg md:tw-text-xl tw-text-secondary dark:tw-text-darkSecondary tw-font-semibold">
                Do you want to ask me something or want to work with me?
                <br>
                Hit me with a message on any of my socials! 
            </p>
        </div>
        <div>
            <h2 class="tw-inline-block tw-text-xl tw-font-bold text-gradient dark:text-dark-gradient md:tw-text-2xl tw-mb-2">
                You can find me in
            </h2>
            <div class="tw-grid tw-grid-flow-row md:tw-grid-flow-col tw-gap-4 md:tw-grid-cols-3">
                { contactsLinks.map((link) =>
                    <a class="tw-flex tw-space-x-4 tw-items-center tw-text-base md:tw-text-lg tw-underline md:tw-no-underline md:hover:tw-underline" href={link.href} target="_blank">
                        <link.icon class="tw-fill-black dark:tw-fill-white tw-w-[25px] tw-h-[25px] md:tw-w-[30px] md:tw-h-[30px]" />
                        <p>{link.text}</p>
                    </a>
                ) }
            </div>
        </div>
    </section>
</Layout>


<style>
	@keyframes show-details {
		from {
			opacity: 0;
			transform: translateY(-1rem);
		}
	}

	.otherArrow {
		@apply tw-inline-block;
		transition: transform 300ms;
		transform: rotate(-90deg);
	}

	details > summary {
		@apply tw-cursor-pointer;
	}

	details[open] .otherArrow {
		transform: rotate(0deg);
	}

	details[open] > *:not(summary) {
		animation: show-details 300ms linear;
	}

	img {
		@apply tw-rounded;
	}

	img.support-dark {
		@apply tw-bg-white tw-p-1;
	}

	.programming-languages-imgs img {
		@apply tw-p-1;
	}

	.img {
		@apply tw-w-40 md:tw-w-52 tw-m-auto;
	}

	.plus-btn {
		@apply tw-relative tw-w-[20px] tw-h-[20px] tw-right-0;
	}

	.plus-btn span {
		@apply tw-rounded tw-absolute tw-duration-300;
	}

	.plus-btn-vertical {
		@apply tw-h-[20%] tw-w-full tw-top-[50%] -tw-translate-y-[50%] tw-left-0 tw-right-0;
	}

	.plus-btn-horizontal {
		@apply tw-h-full tw-w-[20%] tw-top-0 -tw-translate-x-[50%] tw-left-[50%] tw-right-0;
	}

	.plus-btn.active span {
		@apply tw-rotate-90;
	}

	.plus-btn.active .plus-btn-vertical {
		@apply tw-opacity-0;
	}

	.logo-image {
		@apply tw-h-[55px] tw-w-[55px] md:tw-h-[60px] md:tw-w-[60px] tw-shadow tw-border tw-border-black dark:tw-border-white dark:tw-shadow-white tw-border-opacity-10;
	}
</style>
