---
import Layout from "../layouts/Layout.astro";
import { Icons } from "../svgs/";
---

<Layout title="Home | Miguel Magueijo">
	<main>
		<section class="my-5">
			<div class="md:grid md:grid-cols-2 md:items-center">
				<img src="/me.png" class="rounded-full img bg-gradient dark:bg-dark-gradient p-0.5 md:width-full">
				<div>
					<h1 class="mt-2 text-2xl font-bold text-left text-primary dark:text-darkPrimary sm:text-center md:text-5xl">Miguel Magueijo</h1>
					<h2 class="text-xl text-right text-secondary dark:text-darkSecondary sm:text-center md:text-4xl">Student & Developer</h2>
				</div>
			</div>
			<p class="mt-8 text-sm md:text-lg">
				Hi 👋 I'm Miguel Magueijo, I'm Portuguese 🇵🇹 and have 21 years old.
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
			</p>
		</section>
		<section class="my-10">
			<div class="flex space-x-2 items-center">
				<Icons.User class=" stroke-primary dark:stroke-darkPrimary w-[25px] h-[25px] md:w-[35px] md:h-[35px]" />
				<h2 class="text-xl font-bold text-gradient dark:text-dark-gradient md:text-2xl">Education</h2>
			</div>
			<hr class="line-gradient dark:line-dark-gradient mb-4">
			<ul class="space-y-4 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-4">
				<li class="grid grid-cols-5 gap-4">
					<img class="logo-image support-dark" src="https://www.ipcb.pt/sites/default/files/ipcb_estcb.svg" alt="IPCB Escola Superior de Tecnologias Logo" title="IPCB Escola Superior de Tecnologias">
					<div class="text-sm col-span-4">
						<p class="font-bold text-base md:text-lg">Informatics and Multimedia</p>
						<p class="font-semibold">Instituto Politécnico de Castelo Branco</p>
						<p>Bachelor</p>
						<p>Sep 2021 - </p>
					</div>
				</li>
				<hr class="bg-[#444444] border-none h-0.5 rounded sm:hidden">
				<li class="grid grid-cols-5 gap-4">
					<img class="logo-image support-dark" src="https://www.ipcb.pt/sites/default/files/ipcb_estcb.svg" alt="IPCB Escola Superior de Tecnologias Logo" title="IPCB Escola Superior de Tecnologias">
					<div class="text-sm col-span-4">
						<p class="font-bold text-base md:text-lg">Technologies and Information Systems Programming</p>
						<p class="font-semibold">Instituto Politécnico de Castelo Branco</p>
						<p>Higher Professional Technical Course</p>
						<p>Sep 2019 - Jul 2021</p>
					</div>
				</li>
				<hr class="bg-[#444444] border-none h-0.5 rounded sm:hidden">
				<li class="grid grid-cols-5 gap-4">
					<img class="logo-image support-dark" src="/3rdParty/AEF.png" alt="Agrupamento de Escolas do Fundão Logo" title="Agrupamento de Escolas do Fundão">
					<div class="text-sm col-span-4">
						<p class="font-bold text-base md:text-lg">Management and Programming of Information Systems</p>
						<p class="font-semibold">Agrupamento de Escolas do Fundão</p>
						<p>Professional Course</p>
						<p>Sep 2016 - Jul 2019</p>
					</div>
				</li>
			</ul>
		</section>
		<section class="my-10">
			<div class="flex space-x-2 items-center">
				<Icons.Suitcase class=" stroke-primary dark:stroke-darkPrimary w-[25px] h-[25px] md:w-[35px] md:h-[35px]" />
				<h2 class="text-xl font-bold text-gradient dark:text-dark-gradient md:text-2xl">Work experience</h2>
			</div>
			<hr class="line-gradient dark:line-dark-gradient mb-4">
			<ul class="space-y-4 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-4">
				<li class="grid grid-cols-5 gap-4">
					<img class="logo-image" src="https://www.engineetech365.com/wp-content/uploads/2020/03/capgemini-logo-1024x1024.jpg" alt="Capgemini Engineering Logo" title="Capgemini Engineering">
					<div class="text-sm col-span-4">
						<p class="font-bold text-base md:text-lg">Full-stack Web Developer</p>
						<p class="font-semibold">Capgemini Engineering</p>
						<p>Curricular internship</p>
						<p>Mar 2021 - Jul 2021</p>
					</div>
				</li>
				<hr class="bg-[#444444] border-none h-0.5 rounded sm:hidden">
				<li class="grid grid-cols-5 gap-4">
					<img class="logo-image support-dark" src="/3rdParty/CommunitiesComunicacoes.png" alt="Communities - Comunicações, Lda Logo" title="Communities - Comunicações, Lda">
					<div class="text-sm col-span-4">
						<p class="font-bold text-base md:text-lg">Full-stack Web Developer</p>
						<p class="font-semibold">Communities - Comunicações, Lda</p>
						<p>Curricular internship</p>
						<p>May 2018 - Jun 2018</p>
					</div>
				</li>
			</ul>
		</section>
		<section class="my-10">
			<div class="flex space-x-2 items-center">
				<Icons.Box class="stroke-primary dark:stroke-darkPrimary w-[25px] h-[25px] md:w-[35px] md:h-[35px]" />
				<h2 class="text-xl font-bold text-gradient dark:text-dark-gradient md:text-2xl">Projects</h2>
			</div>
			<hr class="line-gradient dark:line-dark-gradient mb-4">
			<ul class="space-y-4 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-4">
				<li class="grid grid-cols-5 gap-4">
					<img class="logo-image support-dark" src="/Projects/reallearn.svg" alt="Real Learn Logo" title="Real Learn">
					<div class="text-sm col-span-4">
						<div class="flex space-x-2 items-center">
							<span class="font-bold text-base md:text-lg">Real Learn</span>
							<a href="https://github.com/miguelmagueijo/Real-Learn" target="_blank" rel="noopener noreferrer">
								<Icons.Github width="20px" class="fill-black dark:fill-white" />
							</a>
						</div>
						<p class="font-semibold">Group school project inspired by moodle</p>
						<p>2021</p>
					</div>
				</li>
				<hr class="bg-[#444444] border-none h-0.5 rounded sm:hidden">
				<li class="grid grid-cols-5 gap-4">
					<img class="logo-image support-dark" src="/Projects/popcornlist.png" alt="PopCornList Logo" title="PopCornList">
					<div class="text-sm col-span-4">
						<div class="flex space-x-2 items-center">
							<span class="font-bold text-base md:text-lg">PopCornList</span>
							<a href="https://github.com/miguelmagueijo/DW-PopCornList" target="_blank" rel="noopener noreferrer">
								<Icons.Github width="20px" class="fill-black dark:fill-white" />
							</a>
						</div>
						<p class="font-semibold">School project to track your movies and TV shows status</p>
						<p>2020</p>
					</div>
				</li>
				<hr class="bg-[#444444] border-none h-0.5 rounded sm:hidden">
				<li class="grid grid-cols-5 gap-4">
					<img class="logo-image support-dark" src="/Projects/projectmanager.png" alt="Project Manager Logo" title="Project Manager">
					<div class="text-sm col-span-4">
						<div class="flex space-x-2 items-center">
							<span class="font-bold text-base md:text-lg">Project Manager</span>
							<a href="https://github.com/miguelmagueijo/ProjectManager" target="_blank" rel="noopener noreferrer">
								<Icons.Github width="20px" class="fill-black dark:fill-white" />
							</a>
						</div>
						<p class="font-semibold">Final course project to manage projects</p>
						<p>2019</p>
					</div>
				</li>
			</ul>
		</section>
		<section class="my-10">
			<div class="flex space-x-2 items-center">
				<Icons.CodeDesktop class="stroke-primary dark:stroke-darkPrimary w-[25px] h-[25px] md:w-[35px] md:h-[35px]" />
				<h2 class="text-xl font-bold text-gradient dark:text-dark-gradient md:text-2xl">Technologies</h2>
			</div>
			<hr class="line-gradient dark:line-dark-gradient mb-4">
			<div class="grid grid-cols-6 gap-4 items-center programming-languages-imgs sm:grid-cols-12">
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Java Logo" title="Java" />
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python Logo" title="Python" />
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" alt="Javascript Logo" title="Javascript" />
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-plain.svg" alt="PHP Logo" title="PHP" />
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" alt="HTML5 Logo" title="HTML5" />
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" alt="CSS Logo" title="CSS" />
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-plain.svg" alt="MySQL Logo" title="MySQL" />
				<img class="bg-white" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain.svg" alt="Microsoft SQL Server Logo" title="Microsoft SQL Server" />
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Git Logo" title="Git" />
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="NodeJs logo" title="NodeJs" />
				<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" alt="TailwindCSS logo" title="TailwindCSS" />
			</div>
		</section>

		<section class="my-10 p-1 bg-gradient dark:bg-dark-gradient rounded">
			<details class="bg-white dark:bg-black">
				<summary class="p-2 flex justify-between items-center">
					<span class="inline-block text-xl font-bold text-gradient dark:text-dark-gradient md:text-2xl">Others</span>
					<Icons.ArrowDown class="otherArrow stroke-secondary dark:stroke-darkSecondary w-[25px] h-[25px] md:w-[35px] md:h-[35px]" strokeWidth={ 3 } />
				</summary>
				<div class="p-2 rounded-b md:text-lg">
					<h3 class="font-bold">Areas of interest</h3>
					<ul class="list-disc list-inside">
						<li>Gaming</li>
						<li>Fantasy Stories/Worlds</li>
						<li>Artificial Intelligence</li>
						<li>Databases</li>
					</ul>
					<h3 class="mt-5 font-bold">Technologies I've been using/trying</h3>
					<ul class="list-disc list-inside">
						<li>Tailwind CSS</li>
						<li>Astro JS</li>
						<li>Svelte</li>
						<li>Typescript</li>
						<small>Fun fact: this website is made with Astro & Tailwind</small>
					</ul>
					<h3 class="mt-5 font-bold">I want to learn</h3>
					<ul class="list-disc list-inside">
						<li>Game Development (Godot/Unreal)</li>
						<li>C++</li>
						<li>Data Analysis</li>
						<li>Artificial Intelligence</li>
					</ul>
				</div>
			</details>
		</section>
	</main>
</Layout>


<style>
	@keyframes show-details {
		from {
			opacity: 0;
			transform: translateY(-1rem);
		}
	}

	.otherArrow {
		display: inline-block;
		transition: transform 300ms;
		transform: rotate(-90deg);
	}

	details > summary {
		cursor: pointer;
	}

	details[open] .otherArrow {
		transform: rotate(0deg);
	}

	details[open] > *:not(summary) {
		animation: show-details 300ms linear;
	}

	img {
		@apply rounded;
	}

	img.support-dark {
		@apply bg-white p-1;
	}

	.programming-languages-imgs img {
		@apply p-1;
	}

	.img {
		@apply w-40 md:w-52;
		margin: auto;
	}

	.plus-btn {
		position: relative;
		width: 20px;
		height: 20px;
		right: 0;
	}

	.plus-btn span {
		@apply rounded;
		position: absolute;
		transition: 300ms;
	}

	.plus-btn-vertical {
		height: 20%;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		left: 0%;
		right: 0;
	}

	.plus-btn-horizontal {
		height: 100%;
		width: 20%;
		top: 0%;
		transform: translateX(-50%);
		left: 50%;
		right: 0;
	}

	.plus-btn.active span {
		transform: rotate(90deg);
	}

	.plus-btn.active .plus-btn-vertical {
		opacity: 0;
	}

	.logo-image {
		@apply h-[55px] w-[55px]  md:h-[60px] md:w-[60px]
	}
</style>
