---
    // Filename is "LinkA" and not "Link" because VS Code goes wild if I give it "Link.astro"

    interface Props {
        href: string,
        text: string,
        isActive: boolean;
    }
    
    const { isActive, text, href } = Astro.props as Props;
---
<li>
    <a class:list={[
            "px-2 py-1 rounded duration-300 font-bold block w-full md:w-auto no-underline text-center",
            { 
                "hover:bg-white hover:text-primary dark:hover:text-darkPrimary text-white": !isActive,
                "bg-white underline decoration-2 text-primary dark:text-darkPrimary": isActive,
            }
        ]}
        href={ href }
    >
        { text }
    </a>
</li>