---
    import { Icons } from "../../svgs";
    import PagesLinks from "./PagesLinks.astro";
    import type { TabsIDs } from "./";

    interface Props {
        activeID?: TabsIDs
    }

    const { activeID } = Astro.props as Props;
---
<nav class="bg-gradient-a dark:bg-dark-gradient-a">
    <div class="tw-hidden md:tw-flex tw-items-center">
        <PagesLinks className="md:tw-flex tw-space-x-4 tw-items-center md:tw-text-lg" activeID={ activeID } />
        <div class="tw-flex-grow tw-text-right">
            <span id="themeBtn" class="theme-btn"></span>
        </div>
    </div>
    <div class="tw-block md:tw-hidden">
        <div class="tw-flex tw-items-center tw-justify-between">
            <Icons.HambugerMenu class="menu-btn-mobile tw-stroke-white tw-border tw-border-white tw-rounded [&.active]:tw-bg-white [&.active]:tw-stroke-primary dark:[&.active]:tw-stroke-darkPrimary" width="30px" height="30px" />
            <div>
                <span id="themeBtnMobile" class="theme-btn"></span>
            </div>
        </div>
        <PagesLinks id="mobile-menu" className="tw-hidden tw-mt-6 tw-space-y-2" activeID={ activeID } />
    </div>
</nav>

<script is:inline>
    function changeTheme(event) {
        document.documentElement.classList.toggle("tw-dark");
        localStorage.theme = document.documentElement.classList.contains("tw-dark") ? "dark" : "light";

        event.target.classList.add("animation");

        setTimeout(() => {
            event.target.classList.toggle("active");
        }, 150);

        setTimeout(() => {
            event.target.classList.remove("animation");
        }, 300);
    }

    const mobileMenuBtn = document.querySelector(".menu-btn-mobile");
    const mobileMenu = document.getElementById("mobile-menu");
    const themeBtnDesktop = document.getElementById("themeBtn");
    const themeBtnMobile = document.getElementById("themeBtnMobile");

    if (document.documentElement.classList.contains("tw-dark")) {
        themeBtnDesktop.classList.add("active");
        themeBtnMobile.classList.add("active");
    }

    themeBtnDesktop.addEventListener("click", changeTheme);
    themeBtnMobile.addEventListener("click", changeTheme);


    mobileMenuBtn.addEventListener("click", () => {
        mobileMenu.classList.toggle("tw-hidden");
        mobileMenuBtn.classList.toggle("active");
    });
</script>

<style>
    nav {
        @apply tw-w-full tw-rounded tw-top-4 tw-p-4 tw-z-50 tw-sticky tw-overflow-hidden tw-backdrop-blur-sm;
    }

    .theme-btn {
        @apply tw-inline-block tw-cursor-pointer tw-text-lg md:tw-text-xl;
    }

    .theme-btn::before {
        content: '☀️';
    }

    .theme-btn.active::before {
        content: '🌒';
    }
    
    @keyframes Theme {
        0%   { transform: scale(1) rotate(360deg); }
        50%  { transform: scale(0.80); }
        100% { transform: scale(1) rotate(0deg); }
    }

    .theme-btn.animation {
        animation: Theme 300ms linear infinite;
        transform-origin: center;
        background-color: transparent;
    }
</style>