---
    import { TabsIDs } from "./";
    import type { PageLink } from "./types";

    interface Props {
        id?: string,
        className?: string,
        activeID?: TabsIDs,
    }

    const { activeID, id, className } = Astro.props as Props;

    const links: Array<PageLink> = [
        {
            href: "/",
            text: "Home",
            isActive: activeID === TabsIDs.home
        },
        {
            href: "/#contact-area",
            text: "Contact",
            isActive: activeID === TabsIDs.contact
        },
        {
            href: "/forged-in-space",
            text: "ForgedIn.Space",
            isActive: activeID === TabsIDs.fis
        },
    ];
---
<ul id={ id } class={ className }>
    { links.map((link) => 
        <a class:list={[
            "tw-px-2 tw-py-1 tw-rounded tw-duration-300 tw-font-bold tw-block tw-w-full md:tw-w-auto tw-no-underline tw-text-center",
            { 
                "hover:tw-bg-white hover:tw-text-primary dark:hover:tw-text-darkPrimary tw-text-white": !link.isActive,
                "tw-bg-white tw-underline tw-decoration-2 tw-text-primary dark:tw-text-darkPrimary": link.isActive,
            }
        ]}
            href={ link.href }
        >
            { link.text }
        </a>
    ) }
</ul>