---
    import { TabsIDs, type TabsIDsKeys } from "./";
    import type { PageLink } from "./types";

    interface Props {
        id?: string,
        className?: string,
        activeID?: TabsIDsKeys,
    }

    const { activeID, id, className } = Astro.props as Props;

    const links: Array<PageLink> = [
        {
            href: "/",
            text: "Home",
            isActive: activeID === TabsIDs.Home
        },
        {
            href: "/#contact-area",
            text: "Contact",
            isActive: activeID === TabsIDs.Contact
        },
        {
            href: "/forged-in-space",
            text: "ForgedIn.Space",
            isActive: activeID === TabsIDs.Fis
        },
    ];
---
<ul id={ id } class={ className }>
    { links.map((link) => 
        <a class:list={[
            "px-2 py-1 rounded duration-300 font-bold block w-full md:w-auto no-underline text-center",
            { 
                "hover:bg-sery hover:text-baund text-white": !link.isActive,
                "bg-priry text-baund": link.isActive,
            }
        ]}
            href={ link.href }
        >
            { link.text }
        </a>
    ) }
</ul>