---

---
<footer class="bg-gradient-a dark:bg-dark-gradient-a">
    <h3 class="mb-2 font-bold text-lg">
        Contact me
    </h3>
    <ul class="underline">
        <li>
            <a href="/">ToDo</a>
        </li>
    </ul>

    <h3 class="mt-5 mb-2 font-bold text-lg">
        Links
    </h3>
    <ul class="underline">
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
    <hr class="my-4 rounded border-2">
    <div class="text-sm flex justify-between">
        <p>©2022 Miguel Magueijo</p>
        <a class="block underline" href="https://github.com/miguelmagueijo/website" target="_blank" rel="noopener noreferrer">Source Code</a>
    </div>
</footer>

<style>
    footer {
        @apply w-full p-4 rounded text-white;
        backdrop-filter: blur(1px);
    }
</style>