---
    enum TabsIDs {
        "home",
        "fis",
        "contact"
    }

    interface Props {
        activeID?: TabsIDs
    }

    const { activeID } = Astro.props;
---
<nav class="bg-gradient-a dark:bg-dark-gradient-a">
    <ul class="flex space-x-4 items-center md:text-lg">
        <li>
            <a class={`navbar-btn ${activeID === TabsIDs.home ? "active" : ""}`} href="/">Home</a>
        </li>
        <li>
            <a class="navbar-btn" href="/dummy">Dummy</a>
        </li>
        <li class="flex-grow text-right">
            <span id="themeBtn"></span>
        </li>
    </ul>
</nav>

<script is:inline>
    if (document.documentElement.classList.contains("dark")) {
        document.getElementById("themeBtn").classList.add("active");
    }

    document.getElementById("themeBtn")?.addEventListener("click", (event) => {
        document.documentElement.classList.toggle("dark");
        localStorage.theme = document.documentElement.classList.contains("dark") ? "dark" : "light";

        event.target.classList.add("animation");

        setTimeout(() => {
            event.target.classList.toggle("active");
        }, 150);

        setTimeout(() => {
            event.target.classList.remove("animation");
        }, 300);
    });
</script>

<style>
    nav {
        @apply w-full rounded top-4 p-4 z-50;
        position: sticky;
        overflow: hidden;
        backdrop-filter: blur(1px);
    }

    .navbar-btn {
        @apply px-2 py-1 rounded;
    }

    .navbar-btn.active {
        @apply bg-white text-primary dark:text-darkPrimary font-bold;
    }

    #themeBtn {
        display: inline-block;
        cursor: pointer;
    }

    #themeBtn::before {
        content: '☀️';
    }

    #themeBtn.active::before {
        content: '🌒';
    }

    @keyframes Theme {
        0%   { transform: scale(1) rotate(0deg); }
        50%  { transform: scale(0) rotate(90deg); }
        100% { transform: scale(1) rotate(0deg); }
    }

    #themeBtn.animation {
        animation: Theme 300ms linear infinite;
        transform-origin: center;
    }
</style>