---

---
<nav>
    <ul>
        <li>
            <a class="underline" href="/">Home</a>
        </li>
    </ul>
</nav>

<style>
    nav {
        @apply w-full rounded top-4 p-4 text-white font-bold bg-gradient-to-r from-primary2r to-secondary2r;
        position: sticky;
        overflow: hidden;
        /* background: rgba(0, 0, 0, 0.6); */
        backdrop-filter: blur(1px);
    }
</style>