---
    import { Icons } from "../../svgs/";
    import type { PageLink, ContactLink } from "./types";

    const currentYear = new Date().getFullYear();

    const pageLinks: Array<PageLink> = [
        {
            href: "/",
            text: "Home"
        },
        {
            href: "/#contact-area",
            text: "Contact",
        },
        {
            href: "/forged-in-space",
            text: "ForgedIn.Space"
        },
    ];

    const contactLinks: Array<ContactLink> = [
        {
            href: "https://www.linkedin.com/in/miguel-magueijo/",
            text: "/miguelmagueijo",
            title: "LinkedIn - Miguel Magueijo",
            icon: Icons.LinkedIn,
        },
        {
            href: "https://www.facebook.com/profile.php?id=100077211735856",
            text: "Miguel Magueijo",
            title: "Facebook - Miguel Magueijo",
            icon: Icons.Facebook,
        },
    ];
---
<footer class="bg-gradient-a dark:bg-dark-gradient-a">
    <div class="tw-grid tw-grid-cols-1 tw-grid-rows-2 tw-gap-4 md:tw-grid-cols-2 md:tw-grid-rows-1">
        <div>
            <h3 class="tw-font-bold tw-text-lg md:tw-text-xl">
                Links
            </h3>
            <ul class="tw-underline">
                { pageLinks.map((link) =>
                    <li>
                        <a href={ link.href }>
                            { link.text }
                        </a>
                    </li>
                ) }
            </ul>
        </div>
        <div>
            <h3 id="footer-socials" class="tw-mb-2 tw-font-bold tw-text-lg md:tw-text-xl">
                Contact me
            </h3>
            <ul class="tw-grid tw-grid-flow-col">
                { contactLinks.map((link) =>
                    <li>
                        <a class="tw-flex tw-justify-start tw-items-center tw-space-x-2 tw-underline md:tw-no-underline hover:tw-underline" href={ link.href } target="_blank" rel="noopener noreferrer" title={ link.title }>
                            <link.icon class="tw-fill-white tw-w-[20px] tw-h-[20px]" slot="icon" />
                            <p>{ link.text }</p>
                        </a>
                    </li>
                ) }
            </ul>
        </div>
    </div>
    <hr class="tw-my-4 tw-rounded tw-border-2">
    <div class="tw-text-sm tw-grid tw-grid-cols-3 md:tw-text-base">
        <p>Miguel Magueijo © {currentYear}</p>
        <div class="tw-flex tw-justify-center">
            <a href="https://github.com/miguelmagueijo" target="_blank" rel="noopener noreferrer" title="Github - Miguel Magueijo">
                <Icons.Github width="20px" class="tw-fill-white" />
            </a>
        </div>
        <div class="tw-text-right">
            <a class="tw-inline-block tw-underline" href="https://github.com/miguelmagueijo/website" target="_blank" rel="noopener noreferrer" title="Website Source Code Hyperlink">Source Code</a>
        </div>
    </div>
</footer>

<style>
    footer {
        @apply tw-w-full tw-p-4 tw-rounded tw-text-white tw-backdrop-blur-sm;
    }
</style>