@tailwind components;

@font-face {
    font-family: Catamaran;
    src: url("/Fonts/Catamaran_VariableFont_wght.ttf");
}

* {
    font-family: Catamaran, Arial, sans-serif;
}

details summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

@layer components {
    .bg-gradient {
        @apply tw-bg-gradient-to-r tw-from-primary tw-to-secondary;
    }
    
    .bg-gradient-a {
        @apply tw-bg-gradient-to-r tw-from-primary-a tw-to-secondary-a;
    }
    
    .bg-dark-gradient {
        @apply tw-bg-gradient-to-r tw-from-darkPrimary tw-to-darkSecondary;
    }
    
    .bg-dark-gradient-a {
        @apply tw-bg-gradient-to-r tw-from-darkPrimary-a tw-to-darkSecondary-a;
    }
    
    .text-gradient {
        @apply tw-text-transparent tw-bg-clip-text bg-gradient;
    }

    .text-dark-gradient {
        @apply tw-text-transparent tw-bg-clip-text bg-dark-gradient;
    }
    
    .line-gradient {
        @apply tw-border-none tw-h-1 tw-rounded bg-gradient;
    }

    .line-dark-gradient {
        @apply tw-border-none tw-h-1 tw-rounded bg-dark-gradient;
    }
}