@tailwind components;

@font-face {
    font-family: Catamaran;
    src: url("/Fonts/Catamaran_VariableFont_wght.ttf");
}

* {
    font-family: Catamaran, Arial, sans-serif;
}

details summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

@layer components {
    .bg-gradient {
        @apply bg-gradient-to-r from-primary to-secondary;
    }
    
    .bg-gradient-a {
        @apply bg-gradient-to-r from-primary-a to-secondary-a;
    }
    
    .bg-dark-gradient {
        @apply bg-gradient-to-r from-darkPrimary to-darkSecondary;
    }
    
    .bg-dark-gradient-a {
        @apply bg-gradient-to-r from-darkPrimary-a to-darkSecondary-a;
    }
    
    .text-gradient {
        @apply text-transparent bg-clip-text bg-gradient;
    }

    .text-dark-gradient {
        @apply text-transparent bg-clip-text bg-dark-gradient;
    }
    
    .line-gradient {
        @apply border-none h-1 rounded bg-gradient;
    }

    .line-dark-gradient {
        @apply border-none h-1 rounded bg-dark-gradient;
    }
}